.fondoContacto{
	height: 100vh; 	
	background-image: url(../media/Fondos/fondoContacto.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 25px;
	margin-top: 3px;
	overflow: hidden;
}
.formulario{
	background-color: rgba(225, 225, 225, 0.7);
	padding: 3rem;
	font-size: 20px;
	width: 30rem;
	height: auto;
	margin-top: 7rem;
}

.datosContacto{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(225, 225, 225, 0.7);
	padding: 30px 40px;
	display: flex;
	height: 40%;
	width: auto;
	line-height: 1.7;

	p{
		font-size:1.5rem;
	}
	h2{
		margin-bottom: 1.2rem;
	}
}
.mapa{
	iframe{
		width: 100%;
		height: 30rem;
	}
	.fBlanco{
		width: 80%;
	}
	h2{
		margin-bottom: 1rem;
	}
}


.checkbox{
	width: 20px;
}

textarea{
	width: 100%;
	min-height: 10rem;
}

input{
	background-color: #D4B08D;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	width: 100%;
	border: 1px solid #ced4da;
	font-size: 1.2rem;
}
.backgroudBotones{
	background-color: #B38F58;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: white;
	width: 45%;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 0.2rem;
}

select{
	font-size: 16px;
}