.fondoNosotros{
	height: 100vh; 	
	background-image: url(../Media/Fondos/DSCN8121.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 3px;
	overflow: hidden;
}
