.fondoTienda{
	height: 100vh; 	
	background-image: url(../media/Fondos/fondoTienda.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 3px;
	overflow: hidden;
}

.tituloTienda{
	margin-top: 8rem;
	background-color: rgba(225, 225, 225, 0.9);
	text-align: center;
	
}
.cajaTienda{
	background-color: rgba(225, 225, 225, 0.7);
	padding: 0.2rem;
	height: auto;
	width: auto;
	margin: 1rem 2rem;

	h3{
		text-align:center;
		color: $secundario;
		font-weight: $fuente-regular;
	}
	.imgTienda{
		width: 20%;
		margin: 0.3rem;
	}
}
.zoom {
	transition: transform .2s; 
}

.zoom:hover {
	transform: scale(2); 
}



