$primario: #95192f;
$secundario: #52667c;
$terciario:#B38F58;
$texto1: black;
$texto2: white;
$fuente: 'Oswald', sans-serif;
$fuente2: 'Merriweather', serif;
$fuente-light: 300;
$fuente-regular: 400;
$fuente-semibold: 500;
$fuente-bold: 600;
